body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

    /* WARNA BACKGROUND */
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
}
.container {
    background: rgba(255, 255, 255, 0.15);
    width: 80%;
    max-width: 600px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 20px;

    backdrop-filter: blur(10px);
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}
button {
    background: linear-gradient(135deg, #ff9966, #ff5e62);
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
    width: 70%;
}
hr {
    border: none;
    height: 2px;
    width: 60%;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.3);
}
#mood {
    font-size: 40px;
    transition: 0.3s;
}
